<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Práctica de HTML y CSS.">
    <meta name="keywords" content="HTML, CSS, JS, ejercicios, lista, listas, varios.">
    <meta name="author" content="I.M. Napal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Lists</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../stylesheet.css">
  </head>
  <body>
    <header>
      <a href="../index.html" id="top">
        Main Page
      </a> 
      &nbsp; &nbsp; 
      <a href="https://www.google.com">
        Return to Google
      </a> 
      &nbsp; &nbsp; 
      <a href="gallery.html">
        Gallery
      </a> 
      &nbsp; &nbsp; 
      <a href="list.html">
        List
      </a> 
      &nbsp; &nbsp; 
      <a href="table.html">
        Table
      </a>
      &nbsp; &nbsp;  
    </header>
    <section id="section1">
    <ul> 
      <li>ouppy</li>
      <li>kitty</li>
      <li>piglet</li>
      <li>heifer</li>
    </ul> 
    </section>
    <section id="section2">
      <ol>
      <li>ouppy</li>
      <li>kitty</li>
      <li>piglet</li>
      <li>heifer</li></ol>
    </section>
    <section id="section3">
      <ul>
      <li>ouppy</li>
      <ol><li>greyhound</li>
        <li>collie</li></ol>
      <li>kitty</li>
      <ol>
        <li>tabby</li>
        <li>calico</li></ol>
      <li>piglet</li>
      <li>heifer</li></ul>
    </section>
    <section id="section4">
      <dl>
      <dt>ouppy</dt>
      <dd> tiny doge</dd>
      <dt>kitty</dt>
      <dd>tiny catte</dd>
      <dt>piglet</dt>
      <dd>tiny hogge</dd>
      <dt>heifer</dt>
    <dd> tiny cowe</dd></dl>
    </section>
    <main> 
      &nbsp; &nbsp; 
    </main>
    <footer>
      <a href="list.html#top">
        Volver al inicio.
      </a>
    </footer>
  </body>
</html>
