<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Práctica de HTML y CSS.">
    <meta name="keywords" content="HTML, CSS, JS, ejercicios, tabla, tablas, varios.">
    <meta name="author" content="I.M. Napal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table of Tables</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../stylesheet.css">
  </head>
  <body>
    <header>
      <a href="../index.html" id="top">
        Main Page
      </a> 
      &nbsp; &nbsp; 
      <a href="https://www.google.com">
        Return to Google
      </a> 
      &nbsp; &nbsp; 
      <a href="gallery.html">
        Gallery
      </a> 
      &nbsp; &nbsp; 
      <a href="list.html">
        List
      </a> 
      &nbsp; &nbsp; 
      <a href="table.html">
        Table
      </a>
    </header>
    <main>
      <section>
        <p><video width="540px" height="100%" controls title="Hace frío"> Hace Frío <source src="../media/video.mp4" type="video/mp4"> </video> </p>
        <p><br> &nbsp; <br></p>
        <p><video controls width="540px" height="100%" title="Vltava - Smetana"> Smetana - Vltava <souce src="../media/vltava.ogg" type="video/ogg"> </video></p>
      </section>
      <section>
       <p> <iframe width="560" height="315" src="https://www.youtube.com/embed/axkOqrLtDXo" title="City Girl - Neon Impasse" frameBorder="0"   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"  allowFullScreen><br></iframe></p>
        <p><br> &nbsp; <br></p>
       <p> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6695.882070364565!2d-60.64362242133018!3d-32.95256614999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab11d0eb49c3%3A0x11f1d3d54f950dd0!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20%7C%20Facultad%20Regional%20Rosario!5e0!3m2!1ses-419!2sar!4v1754589318741!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
      </section>
      <section>
        <table>
          <tr>
            <th> C1 </th>
            <th> C2 </th>
            <th> C3 </th>
            <th> C4 </th>
          </tr>
          <tr>
            <td> 4 </td>
            <td> 3 </td>
            <td> 2 </td>
            <td> 1 </td>
          </tr>
          <tr>
            <td> A </td>
            <td> B </td>
            <td> C </td>
            <td> D </td>
          </tr>
          <tr>
            <td> X </td>
            <td> Y </td>
            <td> Z </td>
            <td> W </td>
          </tr>
        </table>
      </section>
    </main>
    <footer><a href="table.html#top">Volver al inicio.</a></footer>
  </body>
</html>
