<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Práctica de HTML y CSS.">
    <meta name="keywords" content="HTML, CSS, JS, ejercicios, tabla, tablas, varios.">
    <meta name="author" content="I.M. Napal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table of Tables</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../stylesheet.css">
  </head>
  <body>
    <header>
      <a href="../index.html" id="top">
        Main Page
      </a> 
      &nbsp; &nbsp; 
      <a href="https://www.google.com">
        Return to Google
      </a> 
      &nbsp; &nbsp; 
      <a href="gallery.html">
        Gallery
      </a> 
      &nbsp; &nbsp; 
      <a href="list.html">
        List
      </a> 
      &nbsp; &nbsp; 
      <a href="table.html">
        Table
      </a>
    </header>
    <main>
      <section>
        <iframe src="../media/video.mp4" title="Hace frío" width="100%" height="300"></iframe> 
        <br> &nbsp; <br>
        <iframe src="../media/vltava.ogg" title="Vltava - Smetana" width="100%" height="300"></iframe>
      </section>
      <section>
        <iframe src="https://www.youtube.com/watch?v=axkOqrLtDXo" title="City Girl - Neon Impasse" width="100%" height="300"></iframe>
        <br> &nbsp; <br>
        <iframe src="https://www.google.com/maps/place/Beijing,+China/@39.9388838,116.3974589,9z/data=!3m1!4b1!4m6!3m5!1s0x35f05296e7142cb9:0xb9625620af0fa98a!8m2!3d39.904211!4d116.407395!16zL20vMDE5MTQ?entry=ttu&g_ep=EgoyMDI1MDgwNS4wIKXMDSoASAFQAw%3D%3D" width="100%" height="300"></iframe>
      </section>
      <section>
        <table>
          <tr>
            <th> C1 </th>
            <th> C2 </th>
            <th> C3 </th>
            <th> C4 </th>
          </tr>
          <tr>
            <td> 4 </td>
            <td> 3 </td>
            <td> 2 </td>
            <td> 1 </td>
          </tr>
          <tr>
            <td> A </td>
            <td> B </td>
            <td> C </td>
            <td> D </td>
          </tr>
          <tr>
            <td> X </td>
            <td> Y </td>
            <td> Z </td>
            <td> W </td>
          </tr>
        </table>
      </section>
    </main>
    <footer><a href="table.html#top">Volver al inicio.</a></footer>
  </body>
</html>
