<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Práctica de HTML y CSS.">
    <meta name="keywords" content="HTML, CSS, JS, ejercicios, tabla, tablas, varios.">
    <meta name="author" content="I.M. Napal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table of Tables</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../stylesheet.css">
  </head>
  <body>
    <header>
      <a href="../index.html" id="top">
        Main Page
      </a> 
      &nbsp; &nbsp; 
      <a href="https://www.google.com">
        Return to Google
      </a> 
      &nbsp; &nbsp; 
      <a href="gallery.html">
        Gallery
      </a> 
      &nbsp; &nbsp; 
      <a href="list.html">
        List
      </a> 
      &nbsp; &nbsp; 
      <a href="table.html">
        Table
      </a>
    </header>
    <main>
      <section>
        <p><video width="540px" height="100%" controls title="Hace frío"> Hace Frío <source src="../media/video.mp4" type="video/mp4"> </video> </p>
        <p><br> &nbsp; <br></p>
        <p><video controls width="540px" height="100%" title="Vltava - Smetana"> Smetana - Vltava <souce src="../media/vltava.ogg" type="video/ogg"> </video></p>
      </section>
      <section>
       <p> <iframe width="560" height="315" src="https://www.youtube.com/embed/axkOqrLtDXo" title="City Girl - Neon Impasse" frameBorder="0"   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"  allowFullScreen><br></iframe></p>
        <p><br> &nbsp; <br></p>
       <p> <iframe title="UTN FRRO" src="https://maps.app.goo.gl/GoGUwCMVPGuYsmX2A" allowfullscreen width="450" height="250" frameborder="0" style="border:0" referrerpolicy="no-referrer-when-downgrade"> UTN FRRO</iframe></p>
      </section>
      <section>
        <table>
          <tr>
            <th> C1 </th>
            <th> C2 </th>
            <th> C3 </th>
            <th> C4 </th>
          </tr>
          <tr>
            <td> 4 </td>
            <td> 3 </td>
            <td> 2 </td>
            <td> 1 </td>
          </tr>
          <tr>
            <td> A </td>
            <td> B </td>
            <td> C </td>
            <td> D </td>
          </tr>
          <tr>
            <td> X </td>
            <td> Y </td>
            <td> Z </td>
            <td> W </td>
          </tr>
        </table>
      </section>
    </main>
    <footer><a href="table.html#top">Volver al inicio.</a></footer>
  </body>
</html>
