/* Hoja de estilos */

:root {
    --fondo: #1e1e77;
    --texto: #fcf3c3;
    --carmín: #b01a1a;
    --charol: #05000f;
    --levante: #dcefff;
    --beige: #eed5c3
}

*{
    padding: 0;
    margin: 0;
    font-family: Nimbus Roman, Times, serif;
}
body {
    font-family: nimbus-roman;
    font-size: 16px;
    background-color: var(--levante);
    color: var(--charol);
    font-weight: lighter;
    
}
header {
    font-size: 75%;
    background-color: var(--carmín);
    border: var(--charol);
    border-width: 1ex;
    border-style: solid;
    text-align: center;
    padding: 2ex;
    a {
        color: var(--levante);
        text-decoration: none;
        font-weight: 900;
    }
}

h1 {
    text-align: center;
    font-size: 36px;

}
p {
    background-color: var(--fondo);
    color: var(--texto);
    border: var(--carmín);
    border-style: solid;
    border-width: xem;
    text-weight: lighter;
    margin: 5%;
    padding:3%;
    a {
        color: var(--beige);
        text-weight: bold;
        text-decoration: none;
    }
}

footer {
    font-size: 110%;
    background-color: var(--charol);
    a {
        color: var(--beige);
        text-weight: 900;
        text-decoration: none;
    }
}
